---
layout: default
---

{% include header.html %}

<main class="post__archive" id="postArchive">
  {%- include header_nav.html -%}
  {%- if site.status -%}
  {%- include status.html -%}
  {%- endif -%}
	{%- if site.categories.size > 0 -%}
  <nav class="blog__categories">
    <a href="#all" data-category="all" class="category active nav-link">{{ site.theme_setting.lang.category_all | default: "All" }}</a>
    {%- for category in site.categories %}
    <a href="#{{ category[0] }}" class="category nav-link" data-category="{{ category[0] }}">{%- include chapter.html -%}</a>
    {%- endfor %}
  </nav>
	{%- endif -%}
  <div class="post__list archive__list">
    <!-- {%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %} -->
    {%- assign years = site.posts | group_by_exp: "post", "post.url" %}
    {%- for year in years reversed %}
      <!-- <h3 class="post__list_title">{{ year.name }}</h3> -->
      {%- assign posts = year.items %}
      <ul>
        {%- for post in posts reversed %}
        <li class="post__list_item" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
          <a href="{{ post.url | relative_url }}">
            <!-- <span class="archive__time">{{ post.date | date: "%Y-%m-%d" }}</span> -->
            <span class="archive__title">{{ post.title }}</span>
          </a>
        </li>
        {%- endfor %}
      </ul>
    {%- endfor %}
  </div>
</main>
{%- include footer.html -%}



<!--站点标题自动隐藏-->
<script>
  window.onscroll = function() {
      var title_height = document.getElementsByClassName("logo")[0].getBoundingClientRect().bottom;
      var mulu_height = document.getElementsByClassName("blog__categories")[0].getBoundingClientRect().top;
      // console.log("t_h:"+title_height);
      // console.log("mp_h:"+mulu_height);
      if(mulu_height-title_height<=0){ 
          document.getElementsByClassName("logo")[0].style.opacity = 0;
          // console.log("隐藏");
      }
      else{
          document.getElementsByClassName("logo")[0].style.opacity = 1;
          // console.log("显示");
      }
    }
</script>