---
layout: default
---
{%- include header.html -%}
<main class="post__wrapper">
  {%- include header_nav.html -%}
  <div class="post__top_navs clearfix">
    <nav class="post__archive_path">
      {%- assign blog_page_path = site.theme_setting.blog_page | default: "index.md" %}
      {%- assign blog_page = site.pages | where: "path", blog_page_path | first -%}
      <a href="{{ blog_page.url | relative_url }}" id="archiveBtn">
        <div class="post__archive_icon">
          <svg width="40" height="40">
            <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
          </svg>
          <span class="post__archive_icon"></span>
        </div>
        <!-- {{ site.theme_setting.lang.blog_title | default: site.title }} -->
        目录
      </a>
    </nav>
  </div>
  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <!-- <div class="post__meta">
        <time>{{ page.date | date: "%Y-%m-%d %H:%M" }}</time>
      </div> -->
    </header>
    <div class="post__content content">
      {{ content | toc | img_prefix }}
    </div>
  </article>
  <aside class="post__contact">
    {% if page.previous %}
    <h4><a href="{{ BASE_PATH }}{{ page.previous.url }}">
      上一篇：<font class="next_pre_post">{{ page.previous.title }}</font>
    </a></h4>
    {% endif %}
    {% if page.next %}
    <h4><a href="{{ BASE_PATH }}{{ page.next.url }}">
      下一篇：<font class="next_pre_post">{{ page.next.title }}</font>
    </a></h4>
    {% endif %}
  </aside>
  <!-- {%- if site.comment.enabled -%}
  {% include comments.html -%}
  {%- else -%}
  {% include contact.html -%}
  {%- endif -%} -->
</main>
{%- if site.theme_setting.code or page.code -%}
  <script>hljs.initHighlightingOnLoad();</script>
{%- endif -%}
{%- include footer.html -%}



<!--站点标题自动隐藏-->
<script>
  window.onscroll = function() {
      var title_height = document.getElementsByClassName("logo")[0].getBoundingClientRect().bottom;
      var mulu_height = document.getElementsByClassName("post__top_navs")[0].getBoundingClientRect().top;
      // console.log("t_h:"+title_height);
      // console.log("mp_h:"+mulu_height);
      if(mulu_height-title_height<=0){ 
          document.getElementsByClassName("logo")[0].style.opacity = 0;
          // console.log("隐藏");
      }
      else{
          document.getElementsByClassName("logo")[0].style.opacity = 1;
          // console.log("显示");
      }
    }
</script>
